/* h2 {
  color: #575d61;
} */

.list-user:hover {
  background-color: #764abc !important;
  /* background-color: rgb(133, 0, 160) !important; */
  /* background-color: rgb(194, 18, 230) !important; */
}
.butt {
  border: none !important;
}
.butt:hover,
.butt:active {
  background-color: #bd61d4 !important;
  border-color: #764abc !important;
}
::-webkit-scrollbar {
  width: 6px;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #ada8b3;
  box-shadow: inset 0 10px 5px #ada8b3;
  border-radius: 10px;
  /* background-color: rgb(40, 23, 59); */
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(192, 192, 192);
  border-radius: 10px;
}
